.btn {
	cursor: pointer;
	padding: 17px 35px;
	font-weight: 900;
	font-size: 14px;
	line-height: 14px;
	color: #fff;
	text-transform: uppercase;
	background: none;
	border: 1px solid rgba(255, 255, 255, 0.29);
	border-radius: 6px;
	transition: color 0.1s ease-in-out, transform 0.1s ease-in-out;

	&:hover {
		color: #D8D8D8;
		transform: scale(1.02);
	}

	&_load {
		padding: 17px 43px;
		color: #391400;
		background: #fff;

		&:hover {
			color: #28293E;
		}
	}
}