.logo {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: color 0.2s ease-in-out;
	width: 150px;

	&__img {
		object-fit: cover;
	}

	&__text {
		transition: color 0.2s ease-in-out;
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;

		&:hover {
			color: #D8D8D8;
		}
	}

	&:hover {
		.logo__text {
			color: #D8D8D8;
		}
	}
}