* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Epilogue', sans-serif;
	color: #fff;
}

.container {
	width: 81.25vw;
	max-width: 1800px;
	margin: 0 auto;
}

.main {
	padding: 80px 0;
	background: #FDF0E9;
	border: 1px solid #90E149;
}

@media (max-width: 576px) {
	.container {
		width: 90%;
	}
}